%h2 WARNING

%p This will restart the Raspberry Pi and stop the stream! It will take about a minute to restart.

%h3 Click the big red button to restart!

%a{:href => url('/pushed-the-big-red-button')}
 %img{:src => '/brb.png'}
